<!--
* In the future, book_title should have an affiliate link to amazon
* Add a "comment" link which, upon click, goes to the comment page for the book
* Clikc on the "like" button increments the votes count instantaneously.
  However, we'll use the session cookie to allow incrementing for a book only once.

class="no-underline" -> to disable underlining the link when mouse over it.

See http://getbootstrap.com/components/ for more glyphicon's

btn-info 
-->

<template name="book">
        <tr>
          <a href={{associate_link}} class="no-underline">{{book_title}}</a>
          <td>{{author}}</td> 
          <td class="number-column"><span class="badge">{{votes}}</span></td>
          <td>
             {{#if has_voted}}
             <button class ="btn btn-default btn-block btn-xs disabled votes" type ="button" >
                <span class="glyphicon glyphicon-thumbs-up"></span>
              </button>
              {{else }}
             <button class ="btn btn-default btn-block btn-xs votes" type ="button" >
                <span class="glyphicon glyphicon-thumbs-up"></span>
              </button>             
             {{/if}}
          </td> 
          <td><a href="{{pathFor 'curatedComments'}}" class="btn btn-info btn-block btn-xs comments">
                 <span class="glyphicon glyphicon-comment"></span>
              </a>
          </td> 
        </tr>
</template>
